<!DOCTYPE html>
<html lang="pt">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Lembrete</title>
    <style>
        body {
            background-color: #c3e1fff4;
        }
        html {
    background-color: #c3e1fff4;
   
  }

body {
    font-family: Arial, sans-serif;
    background-color: #c3e1fff4;
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer{
    background-color: #00a7aa;
    color: white;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3e1fff4;
  }
  
  main{
    margin: 0;
    background-color: #c3e1fff4;
  
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00a7aa;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
  .form-heading {
    margin-top: 20px;
    color: #006668;
  }
  
  .form-label {
    font-weight: bold;
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #00a7aa;
    border-radius: 5px;
    box-sizing: border-box;
  }

  #resultadosPesquisa {
    margin-top: 2vh;
    border: 4px solid #00a7aa;
    border-radius: 9px;
  }

  #resultadosPesquisa li {
    color: #006668;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style: none
  }

  #resultadosPesquisa li:hover {
    color: #000000;
    font-size: large;
  }
    </style>
</head>
<body>
    <div class="container">
        <header class="border-bottom py-3 fixed-top">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="text-center">
                    <a class="blog-header-logo text-white text-decoration-none" href="/tratamento"><h2>Alterar lembrete</h2></a>
                </div>
            </div>
        </header>
        <main class="mt-5 py-5">
            <form id="editLembreteForm" class="form" action="/editLembrete/<%= lembrete.id_lembrete %>" method="post">
              <div class="mt-2 form-group text-center">
                <h4 class="form-heading">Nome do medicamento:</h4>
                <input class="form-control" type="text" id="searchMedicamento" name="nome_medicamento" placeholder="Digite o nome do medicamento" oninput="searchMedicamentos()" type="search" aria-controls="docsearch-list" aria-label="Search" required="" value="<%= lembrete.nome_medicamento %>">
                <ul type="hidden" id="resultadosPesquisa"></ul>
                </div>

                <div class="form-group text-center">
                    <label for="frequencia" class="form-label"><h4 class="form-heading">Com que frequência você toma este medicamento?</h4></label>
                    <select class="form-select" id="frequencia" name="frequencia" onchange="updateTimeInputs()" required>
                        <option value="Uma vez ao dia" <%= lembrete.frequencia === "Uma vez ao dia" ? "selected" : "" %>>Uma vez ao dia</option>
                        <option value="Duas vezes ao dia" <%= lembrete.frequencia === "Duas vezes ao dia" ? "selected" : "" %>>Duas vezes ao dia</option>
                        <option value="Sob demanda" <%= lembrete.frequencia === "Sob demanda" ? "selected" : "" %>>Sob demanda (lembrete não é necessário)</option>
                    </select>
                </div>

                <div id="time-inputs" class="form-group text-center"></div>

                <div id="dose-input" class="form-group text-center">
                    <h4 class="form-heading">Quantas doses você deve tomar?</h4>
                    <div class="d-flex flex-column container">
                        <div class="dropdown">
                            <select class="form-select" id="dose" name="dose">
                                <option value="">Selecione uma opção</option>
                                <option value="1" <%= lembrete.dose === "1" ? "selected" : "" %>>1</option>
                                <option value="2" <%= lembrete.dose === "2" ? "selected" : "" %>>2</option>
                                <option value="3" <%= lembrete.dose === "3" ? "selected" : "" %>>3</option>
                                <option value="4" <%= lembrete.dose === "4" ? "selected" : "" %>>4</option>
                                <option value="5" <%= lembrete.dose === "5" ? "selected" : "" %>>5</option>
                                <option value="6" <%= lembrete.dose === "6" ? "selected" : "" %>>6</option>
                                <option value="7" <%= lembrete.dose === "7" ? "selected" : "" %>>7</option>
                                <option value="8" <%= lembrete.dose === "8" ? "selected" : "" %>>8</option>
                                <option value="9" <%= lembrete.dose === "9" ? "selected" : "" %>>9</option>
                                <option value="10" <%= lembrete.dose === "10" ? "selected" : "" %>>10</option>
                            </select>
                            
                        </div>
                    </div>
                </div>

                <div class="container">
                    <footer class="border-bottom py-2 fixed-bottom text-center">
                        <div class="row align-items-center">
                            <button id="formAddLembrete" class="btn w-100 text-white" type="submit">Salvar alterações</button>
                        </div>
                    </footer>
                </div>
            </form>
        </main>
    </div>
    <script>
function updateTimeInputs() {
    const frequency = document.getElementById("frequencia").value;
    const timeInputs = document.getElementById("time-inputs");
    const doseInput = document.getElementById("dose-input");
    timeInputs.innerHTML = '';  // Limpar inputs de horário

    if (frequency === "Uma vez ao dia") {
        timeInputs.innerHTML = `
            <h4 class="form-heading">Quando você gostaria de ser lembrado?</h4>
            <div class="d-flex flex-column container">
                <input class="form-select" type="time" id="horario1" name="horario1" value="<%= lembrete.horario1 %>" required>
            </div>
        `;
        doseInput.style.display = 'block';
    } else if (frequency === "Duas vezes ao dia") {
        timeInputs.innerHTML = `
            <h4 class="form-heading">Quando você gostaria de ser lembrado?</h4>
            <div class="d-flex flex-column container">
                <label for="horario1">Primeiro Horário:</label>
                <input class="form-select" type="time" id="horario1" name="horario1" value="<%= lembrete.horario1 %>" required>
                <label for="horario2">Segundo Horário:</label>
                <input class="form-select" type="time" id="horario2" name="horario2" value="<%= lembrete.horario2 %>" required>
            </div>
        `;
        doseInput.style.display = 'block';
    } else {
        timeInputs.innerHTML = '';
        doseInput.style.display = 'none';
    }
}
            const frequency = document.getElementById("frequencia").value;
            const timeInputs = document.getElementById("time-inputs");
            const doseInput = document.getElementById("dose-input");
            timeInputs.innerHTML = '';  // Limpar inputs de horário

            if (frequency === "Uma vez ao dia") {
                timeInputs.innerHTML = `
                    <h4 class="form-heading">Quando você gostaria de ser lembrado?</h4>
                    <div class="d-flex flex-column container">
                        <input class="form-select" type="time" id="horario1" name="horario1" value="<%= lembrete.horario1 %>" required>
                    </div>
                `;
                doseInput.style.display = 'block';
            } else if (frequency === "Duas vezes ao dia") {
                timeInputs.innerHTML = `
                    <h4 class="form-heading">Quando você gostaria de ser lembrado?</h4>
                    <div class="d-flex flex-column container">
                        <label for="horario1">Primeiro Horário:</label>
                        <input class="form-select" type="time" id="horario1" name="horario1" value="<%= lembrete.horario1 %>" required>
                        <label for="horario2">Segundo Horário:</label>
                        <input class="form-select" type="time" id="horario2" name="horario2" value="<%= lembrete.horario2 %>" required>
                    </div>
                `;
                doseInput.style.display = 'block';
            } else {
                timeInputs.innerHTML = '';
                doseInput.style.display = 'none';
            }
            window.onload = function() {
                document.getElementById('frequencia').value = "<%= lembrete.frequencia %>";
                document.getElementById('dose').value = "<%= lembrete.dose %>";
                updateTimeInputs();
            };

        function searchMedicamentos() {
            const searchTerm = document.getElementById('searchMedicamento').value;
            if (searchTerm.length >= 3) {
                fetch(`/api/medicamentos?q=${searchTerm}`)
                    .then(response => response.json())
                    .then(data => {
                        const resultadosPesquisa = document.getElementById('resultadosPesquisa');
                        resultadosPesquisa.innerHTML = ''; // Limpa os resultados anteriores
                        data.forEach(medicamento => {
                            const listItem = document.createElement('li');
                            listItem.textContent = medicamento.NOME_PRODUTO;
                            listItem.onclick = () => {
                                // Adicione o nome do medicamento clicado ao campo de entrada de texto
                                document.getElementById('searchMedicamento').value = medicamento.NOME_PRODUTO;
                                resultadosPesquisa.innerHTML = ''; // Limpa os resultados da pesquisa
                            };
                            resultadosPesquisa.appendChild(listItem);
                        });
                    })
                    .catch(error => {
                        console.error('Erro ao buscar medicamentos:', error);
                    });
            }
        }
    </script>
<script src="scripts.js"></script>
</body>
</html>
